* {
  box-sizing: border-box;
}

header {
  background-color: #DCEDFF;
  padding:0!important;
  margin:0;
  position:relative;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.20);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.20);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.20);
}

/*nav {
  display:inline-block;
  width: 100%;
}*/

nav > ul {
  list-style-type: none;
  padding: 0;
}



nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 20px;
}

.navtoggle.responsive li  {
  display: block;
  text-align: center;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #1D70A2;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.logo {
  max-width: 75px;
}


#navlist {
  font-weight: 400;
  margin: 0;
}

#hero {
  background-color: #DCEDFF
}

#hero h1 {
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.50em;
  font-weight: 700;
  color: #5798ff;
}

h2 {
  font-size: 2.0em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 350;
}

img {
  width: 100%;
}

a {
  color: #1D70A2;
  text-decoration: none;
}

a:hover a:focus {
  color: #69D1C5;
}

a:active {
  color:#9B97B2;
}


.btn {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #1D70A2;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #9B97B2; /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}


.btn:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
.btn.contact  {
    background-color: transparent;
    color: #1D70A2 !important;
    border: 2px solid #1D70A2;
    transition: 0.4s background-color;
  }

.btn.contact:hover {
  background-color: #1D70A2;
  color:#fff!important;
  opacity: 0.8;

}



/** #headerimg {
  width: 15%;

}**/

/* Layout Styling */
.container {
  padding: 0 15px;
}

#projects .row {
   margin: 25px 0; /* 25px top and bottom, 0 left and right */
   padding-bottom: 25px;
   border-bottom: 1px solid #4a4a4a;
}

#projects > h2, > h3, > h4, > p {
  text-align: center;
  margin: 0.75em;
}


.btnalign {
  text-align: center;
}

footer {
  text-align: center;
  position: relative;
}

.connect {
  background-color: #DCEDFF;
  padding: 10px 0;
  -webkit-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.20);
  -moz-box-shadow:    0px -5px 5px 0px rgba(50, 50, 50, 0.20);
  box-shadow:         0px -5px 5px 0px rgba(50, 50, 50, 0.20);

}

.social {
  padding: 10px 0;
}

.projectimg {
  width: 100%;
  max-width:650px;
  text-align: center;
}

[class*="col-"] {
  float: left;
  padding: 0px 10px;
}

.row {
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.skillstools {
  list-style-type: none;
  padding-right: 40px;
  margin-top: 5px;
}

.resume {
  text-align: center;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

svg {
  margin: 0;
  padding-left:30px;
  height: 250px;
  width:100%;
}

/* ==============================
Small Devices up to 640px
================================= */
@media only screen and (max-width: 639px) {
  #svganimation {
    width: 100%;
  }
}






/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

header {
  text-align: unset;
  padding: 20px 0 13px;
}

nav > ul {
  margin: 1em 0;
}

.logo {
  max-width: 150px;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
  padding: 10px;
  padding-top: 20px;
}

.navtoggle li:last-child {
  display: none;
}

h2 {
  text-align: center;
}

h4 {
  margin-top: -10px;
  margin-bottom: 10px;
}

nav {
  width: auto;
    float: right;
    margin-top: 45px;
    margin-right: 20px;
}

nav > ul > li {
  display: inline-block;
}

.col-md-6 {
  width:50%;
}

.projectimg {
  width: 100%;
}

#sojourncontent {
  margin-top: -3px;
}

#about-page h3 {
  margin-top: 0;
}




}




/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.col-lg-7 {
  width: 60%;
}

.col-lg-5 {
  width: 40%;
}

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
